<launch>

  <arg name="robot_name"                        default="locobot"/>
  <arg name="use_lidar"                         default="false"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/locobot/mobile_base/commands/velocity"/>
    <remap from="/move_base_simple/goal" to="locobot/move_base_simple/goal"/>
    <remap from="map" to="/map" />
    
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    
    <rosparam file="$(find interbotix_xslocobot_gazebo)/config/dwa_planner/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find interbotix_xslocobot_gazebo)/config/dwa_planner/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find interbotix_xslocobot_gazebo)/config/dwa_planner/costmap_local_params.yaml" command="load" />

    <rosparam file="$(find interbotix_xslocobot_gazebo)/config/dwa_planner/costmap_global_params.yaml" command="load" />
    
    <rosparam file="$(find interbotix_xslocobot_gazebo)/config/dwa_planner/move_base_params.yaml" command="load" />

    <rosparam file="$(find interbotix_xslocobot_gazebo)/config/dwa_planner/dwa_local_planner_params.yaml" command="load" />

    <remap from="odom"                            to="locobot/odom"/>
  </node>
  <!-- <arg name="robot_name"                        default="locobot"/>
  <arg name="use_lidar"                         default="false"/>
  <node
    pkg="move_base"
    type="move_base"
    respawn="false"
    name="move_base"
    output="screen"
    ns="$(arg robot_name)">
    <rosparam     if="$(arg use_lidar)" file="$(find interbotix_xslocobot_nav)/config/local_costmap_all_params.yaml" command="load"/>
    <rosparam     if="$(arg use_lidar)" file="$(find interbotix_xslocobot_nav)/config/global_costmap_all_params.yaml" command="load"/>
    <rosparam unless="$(arg use_lidar)" file="$(find interbotix_xslocobot_nav)/config/local_costmap_depth_params.yaml" command="load"/>
    <rosparam unless="$(arg use_lidar)" file="$(find interbotix_xslocobot_nav)/config/global_costmap_depth_params.yaml" command="load"/>
    <rosparam file="$(find interbotix_xslocobot_nav)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find interbotix_xslocobot_nav)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find interbotix_xslocobot_nav)/config/local_planner_params.yaml"  command="load"/>
    <rosparam file="$(find interbotix_xslocobot_nav)/config/global_planner_params.yaml" command="load"/>
    <rosparam file="$(find interbotix_xslocobot_nav)/config/move_base_params.yaml"      command="load"/>

    <param name="global_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
    <param name="local_costmap/global_frame"      value="$(arg robot_name)/odom"/>
    <param name="local_costmap/robot_base_frame"  value="$(arg robot_name)/base_footprint"/>

    <remap from="cmd_vel"                         to="mobile_base/commands/velocity"/>
    <remap from="odom"                            to="mobile_base/odom"/>
  </node> -->
      <!-- <remap from="map"                             to="rtabmap/grid_map"/> -->

</launch>







