<launch>
    <arg name="robot_name"                        default="locobot"/>
    <arg name="robot_model_1"                     default="locobot_base"/>
    <arg name="robot_model_2"                     default="locobot_px100"/>
    <arg name="robot_model_3"                     default="locobot_wx200"/>
    <arg name="robot_model_4"                     default="locobot_wx250s"/>
    <arg name="robot_name_1"                      default="locobot_1"/>
    <arg name="robot_name_2"                      default="locobot_2"/>
    <arg name="robot_name_3"                      default="locobot_3"/>
    <arg name="robot_name_4"                      default="locobot_4"/>
    <!-- <arg name="rvizconfig"                        default="$(find interbotix_xslocobot_descriptions)/rviz/many_locobots.rviz" /> -->
    <arg name="keyboard_controller"               default="true"/>
    <arg name="use_lidar"                         default="true"/>
    <arg name="show_lidar"                        default="$(arg use_lidar)"/>
    <arg name="use_camera"                        default="true"/>
    
    <arg name="external_urdf_loc"                 default=""/>
    <arg name="mode_configs"                      default="$(find interbotix_xslocobot_moveit)/config/modes_all.yaml"/>
    <arg name="dof"                               default="6"/>
    <arg name="external_srdf_loc"                 default=""/>
    <arg name="use_rviz"                          default="true"/>
    <arg name="use_fake"                          default="false"/>

    <arg name="use_rrt_exploration"               default="false"/>
    <arg name="use_moveit"                        default="false"/>

    <!-- arg of rviz -->
    <arg name="task" default="slam"/>
    <arg name="rviz_frame"                        default="$(arg robot_name)/base_footprint"/>
    <arg name="rvizconfig"                        default="$(find interbotix_xslocobot_descriptions)/rviz/indoor_bot.rviz"/>
    <!-- <group if="$(eval task== 'slam')">
        <arg name="rivzconfig" value="$(arg slam_rvizconfig)"/>
    </group> -->

    <!-- cartographer slam parameters-->
    <arg name="configuration_basename" default="hybird_slam_2d_gazebo.lua"/>
    <arg name="remap_map_topic" default="false" />
    <arg name="remap_map_topic_name" default="/cmap" />

    <!-- <remap from="/locobot/imu" to="/imu"/>
    <remap from="/locobot/odom" to="/odom"/> -->
    
    <!-- gazebo -->
    <include file="$(find interbotix_xslocobot_gazebo)/launch/xslocobot_gazebo.launch">
        <arg name="robot_model"                       value="$(arg robot_model_4)"/>
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="show_lidar"                        value="true"/>
        <arg name="use_trajectory_controllers"        value="true"/>
        <arg name="use_rviz"                          default="false"/>
        <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
        <!-- <arg name="paused"                            default="true"/>
        <arg name="use_joint_pub"                     value="true"/> -->
        <!-- World File -->
        <arg name="world_name" default="$(find interbotix_xslocobot_gazebo)/worlds/triangle_test.world"/>
    </include>


    <!-- keyboard controller node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen">
        <remap from="cmd_vel" to="locobot/mobile_base/commands/velocity"/>
    </node>

    <!-- Launch cartographer SLAM -->
    <include file="$(find interbotix_xslocobot_gazebo)/launch/cartographer_slam_gazebo.launch">
        <arg name="configuration_basename" value="$(arg configuration_basename)"/>
        <arg name="remap_map_topic" value="$(arg remap_map_topic)"/>
        <arg name="remap_map_topic_name" value="$(arg remap_map_topic_name)" />
    </include>

    <!-- Static Transform Node from `odom` to `map` frame - Required by move_base node -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map_transformation" args="0 0 0 0 0 0 1 map locobot/odom 100">
    </node>


    <!-- MOVE Base Node - DWAPlannerROS -->
    <include file="$(find interbotix_xslocobot_gazebo)/launch/localPlanner.launch" ns="$(arg robot_name)">
    </include>

    <!-- Autonomous exploration: RRT Exploration -->
    <include file="$(find rrt_exploration)/launch/rrt_exploration.launch" ns="$(arg robot_name)">
        <arg name="robot_frame" value="base_footprint"/>
        <arg name="global_frame" value="map"/>
        <arg name="map_topic" value="/map"/>
    </include>



    <include if="$(arg use_moveit)" file="$(find interbotix_xslocobot_gazebo)/launch/load_ball.launch" ns="$(arg robot_name)"/>

    <!-- <remap from="$(arg robot_name)/robot_description" to="robot_description"/> -->

    <include if="$(arg use_moveit)" file="$(find interbotix_xslocobot_moveit)/launch/move_group.launch" ns="$(arg robot_name)">
        <arg name="robot_model"                       value="$(arg robot_model_4)"/>
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="show_lidar"                        value="$(arg show_lidar)"/>
        <arg name="external_srdf_loc"                 value="$(arg external_srdf_loc)"/>
        <arg name="dof"                               value="$(arg dof)"/>
        <arg name="use_camera"                        value="$(arg use_camera)"/>
        <arg name="fake_execution"                    value="$(arg use_fake)"/>
        <arg name="publish_monitored_planning_scene"  value="true" />
    </include>

    <node if="$(arg use_moveit)" name="interbotix_simulation_controller_node"      pkg="interbotix_simulation_controller"      type="interbotix_simulation_controller_node"
      respawn="false"      output="screen"      ns="$(arg robot_name)"/>
    

    <!--RVIZ-->
    <!-- <include if="$(arg use_rviz)" file="$(find interbotix_xslocobot_moveit)/launch/moveit_rviz.launch" ns="$(arg robot_name)">
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="config"                            value="true"/>
    </include> -->

    <node if="$(arg use_rviz)"    name="rviz"     pkg="rviz"    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)">
    <remap from="/clicked_point" to="clicked_point"/>
    <remap from="/initialpose" to="initialpose"/>
    <remap from="/move_base_simple/goal" to="move_base_simple/goal"/>
  </node>
</launch>