<launch>
    <arg name="dof"                               default="6"/>
    <arg name="robot_name"                        default="locobot"/>
    <arg name="use_camera"                        default="true"/>
    <arg name="robot_model_4"                     default="locobot_wx250s"/>
    <arg name="external_urdf_loc"                 default=""/>
    <arg name="mode_configs"                      default="$(find interbotix_xslocobot_moveit)/config/modes_all.yaml"/>
    <arg name="external_srdf_loc"                 default=""/>
    <arg name="use_rviz"                          default="true"/>
    <arg name="use_fake"                          default="false"/>
    <arg name="use_lidar"                         default="true"/>
    <arg name="show_lidar"                        default="$(arg use_lidar)"/>

    
    <include file="$(find interbotix_xslocobot_moveit)/launch/move_group.launch" ns="$(arg robot_name)">
        <arg name="robot_model"                       value="$(arg robot_model_4)"/>
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="show_lidar"                        value="$(arg show_lidar)"/>
        <arg name="external_srdf_loc"                 value="$(arg external_srdf_loc)"/>
        <arg name="dof"                               value="$(arg dof)"/>
        <arg name="use_camera"                        value="$(arg use_camera)"/>
        <arg name="fake_execution"                    value="$(arg use_fake)"/>
        <arg name="publish_monitored_planning_scene"  value="true" />
    </include>
</launch>